- set_meta_tags(title: t('common.news_search'), keywords: [t('common.news_search'), I18n.t('meta_tags.default_keywords')])
= render partial: 'news/shared/body', locals: { news: @news, news_type: 'company' }
