- set_meta_tags(title: News.categories_i18n['industry'], keywords: [News.categories_i18n['industry'], I18n.t('meta_tags.default_keywords')])
= render partial: 'news/shared/body', locals: { news: @news, news_type: 'industry' }