.main-section {
  .section-heading {
    @include clearfix;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px solid #E4E3E3;
    margin-bottom: 15px;
  }
  .section-title {
    float: left;
    color: #83db33;
    font-weight: bold;
  }
  .breadcrumbs {
    float: right;
    font-size: 12px;
  }
}
