$article-title-color: #333 !default;
$article-time-color: #72bf44 !default;

.article {
  line-height: 34px;
  .title {
    text-align: center;
    font-size: 16px;
    color: $article-title-color;
    margin: 0 0 15px;
    font-weight: bold;
    line-height: 34px;
  }
  .time {
    font-size: 12px;
    color: $article-time-color;
    margin-bottom: 15px;
    text-align: center;
  }

  .article-content {
    img {
      max-width: 100%;
      height: auto !important;
    }
    p {
      text-indent: 2em;
      font-size: 13px;
      margin: 0;
    }
  }
  .site-content {
    img {
      max-width: 100%;
    }
    p {
      font-size: 13px;
      margin: 0;
    }

  }
}
