// template
//ul.article-list
//  li
//    a
//      fa
//      xxx
//    time

.article-list {
  list-style: none;
  padding-left: 0;
  li {
    position: relative;
    line-height: 2.1875;

    &:hover {
      * {
        color: $link-active-color;
      }
    }
  }
  a {
    margin-right: 8em;
    display: block;
    @include text-overflow;
    color: black;
  }

  .fa {
    color: $primary-color;
    margin-right: 1em;
    font-size: 0.875em;
  }

  time {
    position: absolute;
    right: 0;
    top: 0;
    color: #77777c;
    font-size: 0.875em;
  }
}

