//logo
.logo {
  display: block;
  height: 53px;
  text-indent: -9999px;
  background: image_url('logo.png') no-repeat center center;
  width: 385px;
}
.en .logo{
  background-image: image_url('logo-en.png');
}
.zh-TW .logo{
  background-image: image_url('logo-hant.png');
}


.main-nav {
  padding-top: 46px;
  position: relative;
  .logo {
    float: left;
  }
  nav {
    float: right;
    font-size: 18px;
    padding-top: 35px;
    line-height: 1;
    > ul {
      white-space: nowrap;
      margin: 0;
      > li {
        display: inline-block;
        > a {
          display: block;
          padding: 0 10px 20px;
          border-bottom: 3px solid transparent;
          &:hover {
            color: $primary-color;
          }
        }

        &.selected {
          > a {
            color: $primary-color;
          }
        }

        &.hover {
          a {
            border-bottom-color: $active-color-green;
          }
          ul {
            display: block;
          }
        }
      }
    }



    > ul > li > ul {
      display: none;
      position: absolute;
      border-top: 2px solid white;
      border-bottom: 80px solid transparent;
      top: 100%;
      left: 0;
      right: 0;
      font-size: 16px;
      padding: 2px 0;
      z-index: $z-popup + 1;
      &:before {
        content: '';
        display: list-item;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: image_url('bg-submenu.png');
        z-index: $z-content + 2;
      }
      li {
        display: inline-block;
        position: relative;
        z-index: $z-content + 3;
        border-left: 1px solid #2773b7;
        border-right: 1px solid #76a8cd;
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
      a {
        display: block;
        color: white;
        padding: 13px 10px;
        margin: 0;
      }
    }

  }

}

.en .main-nav nav {
  font-size: 14px;
  > ul > li > ul {
    //font-size: 13px;
    a {
      padding: 13px 5px;
    }
  }
}