.news-item {
  font-size: 12px;
  p {
    margin: 10px 0 0 0;
  }
  i  {
    margin-left: 5px;
  }
  .more {
    color: #83db33;
    &:hover {
      text-decoration: underline;
    }
    .i {
      font-size: 14px;
    }
  }
}