$paging-border: #ebeeef !default;
$paging-bg: #d7dcde !default;
$paging-active-bg: #217fc4 !default;

.paging {
  text-align: right;
  @media (max-width: $screen-xs-max) {
    text-align: center;
    .pagination {
      span {
        min-width: 60px;
      }
      .page {
        display: none;
      }
    }
  }
}
.pagination {
  display: inline-block;
  margin: 20px 0;
  line-height: 38px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  @include clearfix;

  span {
    float: left;
    min-width: 38px;
    border-left: 1px solid $paging-border;
    color: white;
    background-color: $paging-bg;
    a {
      display: block;
      padding: 0 5px;
      color: white;
    }

    &:first-child {
      border-left: none;
    }

    &.current, &:hover {
      &, a {
        background-color: $paging-active-bg;
      }
    }
  }
}
