@import "slick";
.slick {
  margin: 30px 0;
  .picture-item {
    overflow: hidden;
    position: relative;
    outline: none;
    &:before {
      content: '';
      display: block;
      padding-top: 38.461538461538464%;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  .custom-arrow {
    &.slick-arrow{
      width: 83px;
      height: 83px;
      position: absolute;
      top: 50%;
      margin-top: -42px;
      z-index: 1;
      text-decoration: none;
      cursor: pointer;
      background-size: 100% 100%;
    }

    &.slick-prev {
      left: 20px;
      background: image_url("slick-prev.png") no-repeat center center;
      &:hover {
        background-image: image_url("slick-prev-active.png");
      }
    }
    &.slick-next {
      right: 20px;
      background: image_url("slick-next.png") no-repeat center center;
      &:hover {
        background-image: image_url("slick-next-active.png");
      }
    }
  }

  &.gallery {
    .picture-item {
      &:before {
        padding-top: 38.461538461538464%;
      }
    }

    .legend {
      position: absolute;
      left: 25%;
      right: 25%;
      bottom: 0;
      min-height: 30%;
      z-index: 2;
      color: white;
      padding: 15px;
      font-size: 14px;
      text-align: center;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: image_url('alpha-black-0.7.png') repeat left top;
        @include transform(translateY(100%));
        @include transition(transform 0.4s 0.5s);
        z-index: -1;
      }

      .title {
        font-size: 20px;
        margin-bottom: 10px;
        @include transform(translateY(-20px));
        @include opacity(0);
        @include transition(all 0.5s 0.9s);
      }

      .desc {
        @include transform(translateY(20px));
        @include opacity(0);
        @include transition(all 0.5s 0.8s);
      }
    }

    .slick-current {
      .legend {
        &:before {
          @include transform(translateY(0));
        }
        .title, .desc {
          @include transform(translateY(0));
          @include opacity(1);
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      .custom-arrow.slick-arrow {
        display: none !important;
      }
      .legend {
        left: 0;
        right: 0;
        padding: 10px;
        .title {
          font-size: 16px;
          margin: 0;
        }
        .desc {
          display: none;
        }
      }
    }

  }

  &.slider-nav {
    margin: 0 -20px;
    .picture-item {
      margin: 0 20px;
      &:before {
        padding-top: 64.4%;
      }

      &.slick-current {
        .legend {
          bottom: 0;
        }
      }
    }

    .legend {
      color: white;
      position: absolute;
      left: 0;
      bottom: -40px;
      width: 100%;
      height: 30px;
      padding: 5px 10px;
      text-align: center;
      background: image_url('alpha-black-0.7.png') repeat left top;
      @include text-overflow;
      @include transition(bottom 0.3s);
      z-index: 2;
    }

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

}