
body {
  position: relative;
  min-height: 600px;
}


// banner
.banner {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  .banner-image {
    width: 2560px;
    position: relative;
    left: 50%;
    margin-left: -1280px;
    text-align: center;
  }
}

// main
.main {
  @include clearfix;
  margin-bottom: 40px;
}

.main-container {
  min-height: 350px;
  display: table;
  table-layout: fixed;
}

.main-content {
  width: 100%;
  padding-right: 78px;
  padding-bottom: 30px;
  display: table-cell;
  vertical-align: top;
}

.main-aside {
  display: table-cell;
  vertical-align: top;
  width: 287px;
  padding-bottom: 30px;

  .side-search {
    position: relative;
    height: 34px;
    border: 1px solid $border-color;
    margin-bottom: 30px;
    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      box-shadow: none;
      line-height: 34px;
      padding: 0 40px 0 10px;
    }
    .search-btn {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      width: 34px;
      text-align: center;
      line-height: 34px;
      background-color: $primary-color;
      color: white;
      border: none;
      outline: none;
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      &:hover {
        background-color: $link-active-color;
      }
    }
  }

  .side-nav {
    list-style: none;
    padding-left: 0;
    margin-bottom: 40px;
    a {
      @include text-overflow;
    }
    > li {
      > a {
        display: block;
        font-size: 16px;
        font-weight: bold;
        padding: 0 0 12px 10px;
        color: $primary-color;
      }
      > ul {
        list-style: none;
        padding-left: 0;
        font-size: 14px;
        position: relative;
        a {
          display: block;
          line-height: 39px;
          border-bottom: 1px solid $border-color;
          text-indent: 10px;
          @include transition(text-indent 0.3s);
          &.selected, &:hover {
            text-indent: 24px;
            color: $primary-color;
            &:before {
              content: '';
              position: absolute;
              left: 5px;
              width: 7px;
              height: 39px;
              background: image_url("menu-arrow.png") no-repeat center center;
            }
          }
        }
      }
    }
  }
  .side-widget {
    margin-bottom: 40px;
  }
}

// footer
.footer {
  background-color: $footer-bg;
  font-size: 16px;
  position: relative;
  color: white;
  .footer-links {
    @include clearfix;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .group {
      float: left;
      width: 50%;
      overflow: hidden;
    }
    dl {
      float: left;
      width: 30%;
      margin-right: 3%;
      margin-bottom: 0;
      text-align: center;
    }
    dt {
      font-size: 1em;
      font-weight: normal;
      border-bottom: 2px solid #7ab51d;
      margin: 55px 0 20px;
      padding-bottom: 15px;
    }
    dd {
      line-height: 24px;
      font-size: 0.875em;
      a {
        color: white;
      }
      img {
        max-width: 100%;
      }
    }
  }
  .footer-bottom {
    padding: 39px 0;
    text-align: center;
    font-weight: bold;
  }
}