
body {
  position: relative;
  min-height: 600px;
}

// smart header
.smart-header {
  display: none;
  height: 80px;
  .logo {
    float: left;
    max-width: 60%;
    height: 80px;
    background-position: left center;
    background-size: 100% auto;
  }
  .menu-icon {
    float: right;
    width: 30px;
    margin: 23px 30px 0 0;
    cursor: pointer;
    span {
      display: block;
      height: 5px;
      margin-top: 4px;
      background: $primary-color;
    }
  }
}



// banner
.banner {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  .banner-image {
    width: 2560px;
    position: relative;
    left: 50%;
    margin-left: -1280px;
    text-align: center;
  }
}

// main
.main {
  @include clearfix;
}

.main-container {
  min-height: 350px;
  margin-bottom: 30px;
  display: table;
  table-layout: fixed;
}

.main-content {
  width: 100%;
  padding-right: 78px;
  display: table-cell;
  vertical-align: top;
}

.main-aside {
  display: table-cell;
  vertical-align: top;
  width: 287px;
  padding-top: 40px;

  .side-search {
    position: relative;
    height: 34px;
    border: 1px solid $border-color;
    margin-bottom: 30px;
    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      box-shadow: none;
      line-height: 34px;
      padding: 0 40px 0 10px;
    }
    a {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      width: 34px;
      text-align: center;
      line-height: 34px;
      background-color: $primary-color;
      color: white;
      &:hover {
        background-color: $link-active-color;
      }
    }
  }

  .side-nav {
    list-style: none;
    padding-left: 0;
    margin-bottom: 40px;
    a {
      @include text-overflow;
    }
    > li {
      > a {
        display: block;
        font-size: 16px;
        font-weight: bold;
        padding: 0 0 12px 10px;
        color: $primary-color;
      }
      > ul {
        list-style: none;
        padding-left: 0;
        font-size: 14px;
        position: relative;
        a {
          display: block;
          line-height: 39px;
          border-bottom: 1px solid $border-color;
          text-indent: 10px;
          @include transition(text-indent 0.3s);
          &.selected, &:hover {
            text-indent: 24px;
            color: $primary-color;
            &:before {
              content: '';
              position: absolute;
              left: 5px;
              width: 7px;
              height: 39px;
              background: image_url("menu-arrow.png") no-repeat center center;
            }
          }
        }
      }
    }
  }
  .side-widget {
    margin-bottom: 40px;
  }
}

// footer
.footer {
  background-color: $footer-bg;
  font-size: 16px;
  position: relative;
  color: white;
  .footer-links {
    @include clearfix;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .group {
      float: left;
      width: 50%;
      overflow: hidden;
    }
    dl {
      float: left;
      width: 30%;
      margin-right: 3%;
      margin-bottom: 0;
      text-align: center;
    }
    dt {
      font-size: 1em;
      font-weight: normal;
      border-bottom: 2px solid #7ab51d;
      margin: 55px 0 20px;
      padding-bottom: 15px;
    }
    dd {
      line-height: 24px;
      font-size: 0.875em;
      a {
        color: white;
      }
    }
  }
  .footer-bottom {
    padding: 39px 0;
    text-align: center;
    font-weight: bold;
    //.share {
    //  float: right;
    //  .item {
    //    display: inline-block;
    //    position: relative;
    //    width: 30px;
    //    height: 30px;
    //    margin-left: 19px;
    //    img {
    //      display: none;
    //      position: absolute;
    //      bottom: 120%;
    //      left: 50%;
    //      margin-left: -71px;
    //    }
    //    &:hover {
    //      img {
    //        display: block;
    //      }
    //    }
    //
    //    &.weixin {
    //      background: image-url('weixin-icon.png') no-repeat;
    //      &:hover {
    //        background-image: image_url('weixin-icon-active.png');
    //      }
    //    }
    //    &.weibo {
    //      background: image-url('weibo-icon.png') no-repeat;
    //      &:hover {
    //        background-image: image_url('weibo-icon-active.png');
    //      }
    //    }
    //    &.play {
    //      background: image-url('play-icon.png') no-repeat;
    //      &:hover {
    //        background-image: image_url('play-icon-active.png');
    //      }
    //    }
    //  }
    //}
  }
}

@media (max-width: $screen-sm-max) {
  html, body {
    overflow-x: hidden;
  }
  .smart-header {
    display: block;
  }

  .header {
    width: 290px;
    position: absolute;
    right: -290px;
    top: 0;
    bottom: 0;
    padding-top: 5px;
    z-index: $z-popup;
    @include transition(right 500ms cubic-bezier(0.77,0,0.175,1));
    background-color: white;

    .top-bar {
      background-color: transparent;
      text-align: left;
      height: auto;
      border: none;

      .container {
        width: auto;
      }

      .lang, .links, .tiny-nav, .tiny-search {
        margin: 0 0 15px 0;
        display: block;
        width: auto;
      }
      .tiny-nav {
        display: block;
      }
    }

    .main-nav {
      display: none;
    }
  }

  .main-container {
    display: block;
  }

  .main-content {
    display: block;
    padding-right: 0;
  }

  .main-aside {
    display: block;
    width: auto;

    .side-widget {
      display: none;
    }
  }

  .footer {
    .footer-links .group {
      width: 100%;
    }
  }
  .smart-header, .main, .footer {
    @include transition(left 500ms cubic-bezier(0.77,0,0.175,1));
    position: relative;
    left: 0;
  }


  .open-nav {
    overflow-x: hidden;
    .layer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: $z-popup - 1;
      background-color: black;
      @include opacity(0.5)
    }

    .header {
      right: 0;
      box-shadow: 0 0 22px #000;
    }

    .smart-header, .main, .footer {
      left: -290px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .footer {
    .footer-links {
      display: none;
    }
  }
}